@model IEnumerable<ApplicationUser>

<h2>Lista zarejestrowanych użytkowników</h2>
<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Nazwa użytkownika</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>
